[Unit]
Description=Spring-music Application
After=network.target

[Service]
Type=simple
User=jokerwrld
ExecStart=/home/jokerwrld/spring-music-app/spring-music-service/start.sh
ExecStop=/home/jokerwrld/spring-music-app/spring-music-service/stop.sh
Restart=always

[Install]
WantedBy=multi-user.target