[Unit]
Description=Spring-music Application
After=network.target

[Service]
Type=simple
User=jokerwrld
WorkingDirectory=$HOME/spring-music-app
ExecStart=/bin/bash /spring-music-service/start.sh
ExecSop=/bin/bash /spring-music-service/stop.sh
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target