[Unit]
Description=Spring-music Application
After=network.target

[Service]
Type=simple
User=jokerwrld
ExecStart=/bin/bash /xxx/yyy/start.sh
ExecSop=/bin/bash /xxx/yyy/stop.sh
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target